.layout {
    width: 1366px;
    height: 768px;

    display: grid;
    grid:
        "header header header" 10% "filters content content" 1fr "footer footer footer" 20% / 20% 1fr auto;
    gap: 8px;

    justify-content: space-evenly;
    align-content: center;
}

.header {
    grid-area: header;
    background-color: rebeccapurple;
}

.filters {
    grid-area: filters;
    background-color: red;
}

.content {
    grid-area: content;
    background-color: white;
}

.footer {
    grid-area: footer;
    background-color: green;
}

.layout-filtre {
    width: 10px;
    height: 10px;
    background-color: black;

    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    grid-auto-flow: row dense;
  
    justify-content: center;
    align-content: space-evenly;
}